{% extends 'adm/base.html' %}
{% load static %}
{% block content %}
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Brand List</h4>
					</div>
					<div class="pb-20">
						<table class="table nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">No.</th>
                                        <th>Brand</th>
										<th>Discription</th>
										<th>Date</th>
										<th>Image</th>
										<th></th>
								</tr>
							</thead>
							<tbody>
								{% for brand in brands %}
								<tr>
									<td class="table-plus">{{ forloop.counter }}</td>
									<td>{{brand.brand_name}}</td>
									<td>{{brand.brand_discription}}</td>
									<td>{{brand.brand_date}}</td>
									<td class="table-plus">
										<div class="name-avatar d-flex align-items-center">
											<div class="avatar mr-2 flex-shrink-0">
												<img src="{{brand.brand_img.url}}" class="border-radius-100 shadow" width="65px" height="65px" alt="">
											</div>
										</div>
									</td>
									
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="{% url 'edit_brand' brand.id %}"><i class="dw dw-edit2"></i> Edit</a>
												<a class="dropdown-item" href="{% url 'brand_del' brand.id %}" onclick="del_brand(event)" style="color: red;"><i class="dw dw-delete-3"></i> Delete</a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- Export Datatable End -->
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="{% static 'adm/vendors/scripts/core.js' %}"></script>
	<script src="{% static 'adm/vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'adm/vendors/scripts/process.js' %}"></script>
	<script src="{% static 'adm/vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<!-- buttons for Export datatable -->
	<script src="{% static 'adm/src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/vfs_fonts.js' %}"></script>
	<!-- Datatable Setting js -->
	<script src="{% static 'adm/vendors/scripts/datatable-setting.js' %}"></script>
	
	<script>
		function del_brand(event){
			event.preventDefault();
			// var link=document.getElementById
			console.log(event.target.href);
			var link=event.target.href;
			
		// var confirmation =	confirm('are you sure ?')
			swal({
				title: "Are you sure?",
				text: "Do you want to remove this item from the cart",
				icon: "warning",
				buttons: true,
				dangerMode: true,
				})
				.then((willDelete) => {
				if (willDelete) {
					window.location = link;
				} else {
				}
			});
		}
		
	</script>
</body>
</html>
{% endblock %}