{% extends 'adm/base.html' %}
{% load static %}
{% block content %}
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="card-box mb-30">
					<div class="pd-20">
						<div class="row">
							<div class="col-md-6">
								<h4 class="text-blue h4">User List</h4>
							</div>
							<div class="col-md-6 text-right">
								<div style="display: flex; justify-content: end;">
							</div>
						<a href="{% url 'blocked_users' %}" class="btn btn-outline-info">Blocked Users</a>
					</div>
					</div>
					</div>
					<div class="pb-20">
						<table class="table nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">No.</th>
                                        <th>profile_img</th>
										<th>username</th>
										<th>email</th>
										<th>phone</th>
										<th>date_joined</th>
										<th>Status</th>
										<th></th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									{% if user.is_active == True %}

										<tr>
											<td class="table-plus">{{ forloop.counter }}</td>
											{% if profile_img %}
												<td class="table-plus">
													<div class="name-avatar d-flex align-items-center">
														<div class="avatar mr-2 flex-shrink-0">
															<img src="{{user.profile_img.url}}" class="border-radius-100 shadow" width="65px" height="65px" alt="">
														</div>
													</div>
												</td>
											{% else %}
												<td class="table-plus">
													<div class="name-avatar d-flex align-items-center">
														<div class="avatar mr-2 flex-shrink-0">
															<img src="{% static 'adm/vendors/images/user.png' %}" class="border-radius-100 shadow" width="65px" height="65px" alt="">
														</div>
													</div>
												</td>
											{% endif %}
											<td>{{user.username}}</td>
											<td>{{user.email}}</td>
											<td>{{user.phone}}</td>
											<td>{{user.date_joined}}</td>
											<td>
												{% if user.is_superuser %}
												<b class="btn btn-danger">Admin</b>
												{% else %}
												<b class="btn btn-primary">User</b>
												{% endif %}
											</td>
											{% if user.is_superuser == False %}
								
												<td>
													<div class="dropdown">
														<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
															<i class="dw dw-more"></i>
														</a>
															<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
																<a class="dropdown-item" onclick="block_user('{{user.id}}')" data-toggle="modal" data-target="#exampleModalCenter" ><i class="fa fa-ban"></i> Block</a>
															</div>		
														</div>
													</td>
											{% endif %}
										</tr>
									{% endif %}	
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- Export Datatable End -->
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Block</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to block the user ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a onclick="blockUser()" id="block_user"><button type=" button"
                        class="btn btn-outline-danger">Block</button></a>
            </div>
        </div>
    </div>
	</div>
	<!-- js -->
	<script src="{% static 'adm/vendors/scripts/core.js' %}"></script>
	<script src="{% static 'adm/vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'adm/vendors/scripts/process.js' %}"></script>
	<script src="{% static 'adm/vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<!-- buttons for Export datatable -->
	<script src="{% static 'adm/src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'adm/src/plugins/datatables/js/vfs_fonts.js' %}"></script>
	<!-- Datatable Setting js -->
	<script src="{% static 'adm/vendors/scripts/datatable-setting.js' %}"></script></body>

	<script>

		function block_user(id) {
			console.log(id)
			document.getElementById('block_user').value = id
		}
	
		function blockUser() {
			var id = document.getElementById('block_user').value
			console.log(id)
			$.ajax({
				url: '/panel/block',
				method: 'POST',
				dataType: 'json',
				data: {
					id: id,
					csrfmiddlewaretoken: "{{csrf_token}}"
				},
				success: (response) => {
					location.reload()
				}
			})
	
		}

	</script>
</html>
{% endblock %}