{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Wizard-v4</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'user/ch/css/opensans-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user/ch/css/roboto-font.css' %}">
	<link rel="stylesheet" type="text/css"
		href="{% static 'user/ch/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="{% static 'user/ch/css/jquery-ui.min.css' %}">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="{% static 'user/ch/css/style.css' %}" />
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-12">
						<div class="page-content">
							<div class="wizard-v4-content">
								<div class="wizard-form">
									<div class="wizard-header">
										<h3 class="heading" style="color: navy;"><b>C</b>heck <b>O</b>ut</h3>
										<p>Fill all form field to go next step</p>



										<div style="display: flex; justify-content: center; margin-top: 3%;">
											<article class="card text-left"
												style="width: 90%; display: flex; justify-content: center; box-shadow: 0px 0px 11px rgb(211, 211, 211); border-color: rgb(255, 255, 255);">
												<header class="card-header mb-2"
													style="display: flex; justify-content: space-between;">
													<strong class="d-inline-block mr-3">My Addresses</strong>
													<a href="{% url 'profile' %}" class="btn btn-outline-info">Add
														Address</a>
												</header>
												<div class="container">
													<form id="adrs">
														{% for address in addresses %}
														<div class="row">
															<div class="col-md-1 pt-2 text-center">
																<input type="radio"
																	onchange="a('{{address.first_name}}','{{address.last_name}}','{{address.adrs}}','{{address.city}}','{{address.district}}','{{address.state}}','{{address.country}}','{{address.pincode}}','{{address.phone}}','{{address.phone2}}','{{address.email}}')"
																	id="{{address.id}}" name="address"
																	value="{{address.id}}">
															</div>
															<div class="mt-3 mb-3"
																style="width: 100%; display: flex; justify-content: center;">

																<div class="card"
																	style=" box-shadow: 0px 0px 5px rgb(0, 132, 255); border-color: rgb(255, 255, 255); width: 90%;">
																	<div class="card-body" style="height: 30%;">
																		<header class="card-header mb-2"
																			style="width: 100%;">
																			<h5
																				class=" d-inline-block mr-3 card-title mb-0">
																				{{address.full_name}}</h5>
																		</header>
																	</div>
																</div>
															</div>
														</div>
														{% endfor %}
													</form>
												</div>
												<div class="row">
													{% if addresses %}
													{% else %}
													<p class="pb-2" style="padding-left: 30px;">No saved addresses</p>
													{% endif %}
												</div>
											</article>
										</div>

									</div>
									<form class="form-register" action="{% url 'place_order' %}" method="POST">
										{% csrf_token %}

										<div id="form-total">
											<!-- SECTION 1 -->
											<h2>
												<span class="step-icon"><i class="zmdi zmdi-account"></i></span>
												<span class="step-text">About</span>
											</h2>
											<section>
												<div class="inner">
													<div class="form-row">
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="first_name"
																	name="first_name" required>
																<span class="label">First Name</span>
																<span class="border"></span>
															</label>
														</div>
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="last_name"
																	name="last_name" required>
																<span class="label">Last Name</span>
																<span class="border"></span>
															</label>
														</div>
													</div><br>
													<div class="form-row">
														<div class="form-holder" style="width: 100%;">
															<label class="form-row-inner" style="width: 100%;">
																<input type="email" style="width: 97%;"
																	class="form-control" id="Email" name="email"
																	required>
																<span class="label">Email</span>
																<span class="border"></span>
															</label>
														</div>
													</div><br>
													<div class="form-row">
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="city"
																	name="city" required>
																<span class="label">city</span>
																<span class="border"></span>
															</label>
														</div>
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="pincode"
																	name="pincode" required>
																<span class="label">pin Code</span>
																<span class="border"></span>
															</label>
														</div>
													</div>
													<br>
													<div class="form-row">
														<div class="form-holder form-holder-2">
															<label class="form-row-inner">
																<textarea name="address" class="form-control"
																	id="address" cols="50" rows="2"></textarea>
																<span class="label">Address</span>
																<span class="border"></span>
															</label>
														</div>
													</div><br>
													<div class="form-row">
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="district"
																	name="district" required>
																<span class="label">District</span>
																<span class="border"></span>
															</label>
														</div>
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="state"
																	name="state" required>
																<span class="label">State</span>
																<span class="border"></span>
															</label>
														</div>
													</div><br>
													<div class="form-row">

														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="country"
																	name="country" required>
																<span class="label">Country</span>
																<span class="border"></span>
															</label>
														</div>
													</div><br>
													<div class="form-row">
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="phone"
																	name="phone" required>
																<span class="label">Phone</span>
																<span class="border"></span>
															</label>
														</div>
														<div class="form-holder">
															<label class="form-row-inner">
																<input type="text" class="form-control" id="phone2"
																	name="phone2">
																<span class="label">Phon-2 (op)</span>
																<span class="border"></span>
															</label>
														</div>
													</div>
													<br>
													<div class="form-row">
														<div class="form-holder form-holder-2">
															<label class="form-row-inner">
																<textarea name="order_note" class="form-control"
																	id="order_note" cols="50" rows="2"></textarea>
																<span class="label">Order Note (op)</span>
																<span class="border"></span>
															</label>
														</div>
													</div>
												</div>
												<div style="display: flex; justify-content: right;">
													<button type="submit"
														style="box-shadow: 0px 2px 5px rgb(65, 140, 252); background-color: #ffffff;"
														class="btn">Submit</button>
												</div>
											</section>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-"></div> -->
			<div class="col-md-5">
				<div class="row sticky-top">
					<div class="wizard-v4-content">
						
						<div class="pb-20">
							<h3 style="display: flex; justify-content: center; color: navy;"><b>Products</b></h3>
							<div class="table-responsive">
								<table class="table nowrap">
									<thead>
										<tr>
											<th class="table-plus datatable-nosort">images</th>
											<th>Brand</th>
											<th>Prodect_name</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										{% for cart_item in cart_items %}
										<tr>
											<td class="table-plus">
												<div class="name-avatar d-flex align-items-center">
													<div class="avatar mr-2 flex-shrink-0">
														<img src="{{ cart_item.prodect.img1.url }}"
															class="border-radius-100 shadow" width="65px" height="65px"
															alt="">
													</div>
												</div>
											</td>
											<td>{{cart_item.prodect.brand}}</td>
											<td>{{cart_item.prodect.prodectname}}</td>
											<td>{{cart_item.prodect.price}}</td>
											<td>{{cart_item.quantity}}</td>
											<td>Rs.{{cart_item.sub_total}}</td>
										</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-8" style="display: flex; justify-content: end;">
									<h5><b style="color: navy;">Total(tax):</b></h5>
								</div>
								<div class="col-md-4" style="display: flex; justify-content: center;">										
									<h5><b style=" color: rgb(138, 138, 138);">{%if grand_total %}
										Rs.{{grand_total}} {%else%} Rs.{{grandtotal}} {%endif%}</b></h5>
								</div>
								<!-- <div class="col-md-8" style="display: flex; justify-content: end;">
									<h5><b style="color: navy;">Total(tax):</b></h5>
								</div> -->
								<div class="col-md-4" style="display: flex; justify-content: center;">										
									<h5><b style=" color: navy;"><span id="discount" class="text-success"></span></b></h5>
								</div>
								<!-- <div class="col-md-8" style="display: flex; justify-content: end;">
									<h5><b style="color: navy;">Total(tax):</b></h5>
								</div> -->
								<div class="col-md-4" style="display: flex; justify-content: center;">										
									<h5><b style=" color: navy;"><strong class="order-total clearfix" id="grandtotal"></strong></b></h5>
								</div>
								<!-- <div class="col-md-8" style="display: flex; justify-content: end;">
									<h5><b style="color: navy;">Total(tax):</b></h5>
								</div> -->
								<div class="col-md-4" style="display: flex; justify-content: center;">										
									<h5><b style=" color: navy;"><small id="promo"></small></b></h5>
								</div>
								
							</div>
							<hr>
							
							<div class="row" style="display: flex; justify-content: center; margin-bottom: 3%;">
								<div class="card text-left" style="width: 90%; display: flex; justify-content: center; box-shadow: 0px 0px 11px rgb(211, 211, 211); border-color: rgb(255, 255, 255);">
									<div class="col-md-12 col-sm-6 col-xs-12">
										<div class="sccb-discount shopping-cart-content-box">
											<!-- <h3 class="sccb-title" style="margin-top: 3%;">Discount Codes</h3>
											<p>Coupon code: <small id="promo"></small></p>
											<p>Discount: <span id="discount" class="text-success"></span></p>
											<strong class="order-total clearfix" id="grandtotal"></strong>
		 -->
											<span class="sccb-shipping-title"><b style="margin-top: 2%;">Enter your coupon if you have one</b></span>
											<div class="sccb-discount-subscribe-box clearfix">
												<div class="row" style="margin-bottom: 3%; margin-top: 2%; margin-left: 1%;">
												<input type="text" class="form-control" placeholder="Promo code" style="max-width: 25rem;" id="coupon" />
												<button type="button" id="apply" value="{{total}}" onclick="couponCheck()"
													class="btn btn-secondary" style="margin-left: 3%; box-shadow: 0px 2px 5px rgb(65, 140, 252); color: navy; background-color: #ffffff; border: 0px;">
													Redeem
												</button>
											</div>
												<div style="display: flex; justify-content: end;"> 
												
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="p-3">
								<a href="{% url 'cart' %}"
									style="box-shadow: 0px 2px 5px rgb(65, 140, 252); color: navy; background-color: #ffffff;"
									class="btn">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>










	<script src="{% static 'user/ch/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'user/ch/js/jquery.steps.js' %}"></script>
	<script src="{% static 'user/ch/js/jquery-ui.min.js' %}"></script>
	<script>
		$(function () {
			$("#form-total").steps({
				// headerTag: "h2",
				// bodyTag: "section",
				// transitionEffect: "fade",
				// enableAllSteps: true,
				// autoFocus: true,
				// transitionEffectSpeed: 500,
				titleTemplate: '<div class="title">#title#</div>',
				labels: {
					previous: 'Back Step',
					next: 'Next Step',
					finish: 'Submit',
					current: ''
				},
			});
		});

	</script>

	<script>
		function a(first_name, last_name, adrs, city, district, state, country, pincode, phone, phone2, email) {
			document.getElementById('first_name').value = first_name
			document.getElementById('last_name').value = last_name
			document.getElementById('address').value = adrs
			document.getElementById('city').value = city
			document.getElementById('district').value = district
			document.getElementById('state').value = state
			document.getElementById('country').value = country
			document.getElementById('pincode').value = pincode
			document.getElementById('phone').value = phone
			document.getElementById('phone2').value = phone2
			document.getElementById('Email').value = email
		}
	</script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
	  $(document).ready(function () {
		console.clear();
		document.getElementById("promo").textContent = "";
	  });
	  function couponCheck() {
		var coupon = $("#coupon").val();
		var total = $("#apply").val();
		console.log(total);
		$.ajax({
		  url: "{%url 'checkCoupon'%}",
		  type: "POST",
		  data: {
			coupon: coupon,
			total: total,
			csrfmiddlewaretoken: "{{csrf_token}}",
		  },
		  dataType: "json",
		  success: function (json) {
			console.log(json);
			document.getElementById("grandtotal").textContent = json.total;
			if (json.flag == 1) {
			  swal("Oops", "Coupon is Not Valid", "error");
			} else if (json.flag == 0) {
			  swal("Oops", "Coupon is Not Active", "error");
			} else {
			  swal({
				title: "Congratulation!",
				text: "You Got A Couppon!",
				icon: "success",
				button: "OK!",
			  });
			  document.getElementById("discount").textContent =
				"-" + "Rs." + json.discount_price;
			  document.getElementById("promo").textContent = $("#coupon").val();
			}
		  },
		});
	  }
	</script>

</body>

</html>