{% extends 'userst/base.html' %}
{% load static %}
{% block content %}
<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="{% url 'hom' %}">Home</a></li>
				<li class="active">New Products</li>
			</ol>
		</div>
	</div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="product">
	<div class="container">
		<div class="product-top">
			<div class="product-one">
				{% for prodect in prodects %}
				<div class="col-md-3 product-left p-3" style="margin-top: 3%;">
					<div class="product-main">
						<div style="display: flex; justify-content: end; margin-right: 1%;">
							<a href="{% url 'add_wish' prodect.id %}"><img src="https://img.icons8.com/material-outlined/24/fa314a/like.png"/></a>
						</div>
						<div class="simpleCart_shelfItem">
						<a href="{{ prodect.get_url }}" class="mask"><img class="img-responsive zoom-img"
								style="height: 200px; width: 189px;" src="{{prodect.img1.url}}" alt="" /></a>
						<div class="product-bottom">
							<h3>{{prodect.brand}}</h3>
							<p>{{prodect.prodectname}}</p>
							<p>{{prodect.model_no}}</p>
							{% if prodect.offer %}
							<h4> <span class=" item_price">₹{{prodect.price}} &nbsp;<del
										style="color: rgb(255, 0, 0);">{{prodect.actual_price}}</del></span></h4>
							<div class="srch">
								<span><b>Offer </b>{{prodect.offer}}%</span>
							</div>
							{% else %}
							<h4> <span class=" item_price">₹{{prodect.price}}</span></h4>
							{% endif %}
						</div>
						{% if prodect.stock <= 0 %} <a class="btn btn-secondary text-red"><b style="color: red;">Out Of
								stock</b></a>
							{% else %}
							<a href="{% url 'add_cart' prodect.id %}" style="width: 87%; margin-bottom: 2%;"
								class="btn btn-primary text-white"><b>Add to Cart</b></a>
								<a href="{% url 'buy_now' prodect.id %}" class="btn " style="border-color: red; color: red; border-radius: 5px; width: 87%;"><b>Buy Now</b></a>


							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!--product-end-->
<!--information-starts-->
<div class="information">
	<div class="container">
		<div class="infor-top">
			<div class="col-md-3 infor-left">
				<h3>Follow Us</h3>
				<ul>
					<li><a href="#"><span class="fb"></span>
							<h6>Facebook</h6>
						</a></li>
					<li><a href="#"><span class="twit"></span>
							<h6>Twitter</h6>
						</a></li>
					<li><a href="#"><span class="google"></span>
							<h6>Google+</h6>
						</a></li>
				</ul>
			</div>
			<div class="col-md-3 infor-left">
				<h3>Information</h3>
				<ul>
					<li><a href="#">
							<p>Specials</p>
						</a></li>
					<li><a href="#">
							<p>New Products</p>
						</a></li>
					<li><a href="#">
							<p>Our Stores</p>
						</a></li>
					<li><a href="contact.html">
							<p>Contact Us</p>
						</a></li>
					<li><a href="#">
							<p>Top Sellers</p>
						</a></li>
				</ul>
			</div>
			<div class="col-md-3 infor-left">
				<h3>My Account</h3>
				<ul>
					<li><a href="account.html">
							<p>My Account</p>
						</a></li>
					<li><a href="#">
							<p>My Credit slips</p>
						</a></li>
					<li><a href="#">
							<p>My Merchandise returns</p>
						</a></li>
					<li><a href="#">
							<p>My Personal info</p>
						</a></li>
					<li><a href="#">
							<p>My Addresses</p>
						</a></li>
				</ul>
			</div>
			<div class="col-md-3 infor-left">
				<h3>Store Information</h3>
				<h4>The company name,
					<span>Lorem ipsum dolor,</span>
					Glasglow Dr 40 Fe 72.
				</h4>
				<h5>+955 123 4567</h5>
				<p><a href="mailto:example@email.com">contact@example.com</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--information-end-->
<!--footer-starts-->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-6 footer-left">
				<form>
					<input type="text" value="Enter Your Email" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="col-md-6 footer-right">
				<p>© 2015 Luxury Watches. All Rights Reserved | Design by <a href="http://w3layouts.com/"
						target="_blank">W3layouts</a> </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--footer-end-->
{% endblock %}
</body>

</html>